<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.dllo.bibilala">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".app.BiBiLaiLaiApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_bi"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.login.SignActivity"/>
        <activity android:name=".activity.login.QuestionActivity"/>
        <activity android:name=".activity.login.RegisterActivity"/>
        <activity android:name=".bangumi.view.CrayonActivity"/>
        <activity android:name=".bangumi.view.BangumiActivity"/>


        <activity
            android:name=".search.view.SearchActivity"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name=".search.searchdetail.view.SearchDetailActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".recommend.activity.GridLiveActivity"/>

        <activity android:name=".recommend.activity.animation.AnimationActivity"/>
        <activity
            android:name=".live.view.LiveActivity"/>

    </application>

</manifest>